<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>welcome</title>
  <title>Task nevis</title>
    </head>
    <body>
        <h1>Change Password</h1>
    {% if invalid %}
    <p>Invalid old password</p>
    {% endif %}
    <form action="/changepassword" method="post">
        <input type="hidden" name="username" value="{{ username }}">
        <input autocomplete="off" name="current password" placeholder="Current Password" type="password" required>
        <input autocomplete="off" name="new password" placeholder="New Password" type="password" required>
        <button type="submit">Change Password</button>
    </form>
    <form action="/mainpage" method="post">
        <input type="hidden" name="username" value="{{ username }}">
        <button type="submit">Cancel</button>
    </form>
    </body>
</html>
