{% extends "screens.html" %}

{% block body %}

    <body> 
        <section>
            <div class="form-box">
                <div class="form-value">
                    <form action="/login" method="post">
                        <h2>Login</h2>
                        <div class="inputbox">
                            <input type="text" name="username" required>
                            <label for="">Username</label>
                        </div>
                        <div class="inputbox">
                            <ion-icon name="lock-closed-outline"></ion-icon>
                            <input type="password" name="password" required>
                            <label for="">Password</label>
                        </div>
                        <button>Log in</button>
                        <div class="register">
                            <p>Don't have a account <a href="register">Register</a></p>
                        </div>
                    </form>
                    <center>
                    {% if invalid %}
                    <p style="color: red; margin-top: 20px; padding-bottom: 20px;">invalid username or password</p>
                    {% endif %}
                    </center>
                </div>
            </div>
        </section>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </body>

{% endblock %}