{% extends "layout.html" %}

{% block body %}

    <h1>sign in</h1>
    {% if invalidemail %}
    please enter a valid email
    {% endif %}
    {% if invaliduser %}
    this username is already in use please choose a different one
    {% endif %}
    <form action="/register" method="post">
        <input autocomplete="off" autofocus name="username" placeholder="Username" type="text" required>
        <input autocomplete="off" autofocus name="email" placeholder="Email" type="email" required>
        <input autocomplete="off" autofocus name="password" placeholder="Password" type="password" required>
        <button type="submit">Register</button>
    </form>
    
{% endblock %}
