<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="/Task" method="post" id="form">
            <input type="hidden" value={{username}} id="Username" name="Username">
            <div>
                Task Name: <input id="TaskName" name="TaskName">
            </div>
            <br>
            <div>
                <lable>Task: </lable>
            </div>
            <br>
            <div>
                <textarea name="Task" id="Task"></textarea>
            </div>
            <br>
            <div>
                Date: <input type="text" id="DateInput" name="DateInput">
            </div>
            <br>
            <div>
                Time: <input type="text" id="TimeInput" name="TimeInput"> 
            </div>
            <div>
                <lable>Condition</lable>
            </div>
            <div>
                <select id="Con" onclick="myfunction()">
                    <option value="Done">Done</option>
                    <option value="Doing">Doing</option>
                    <option value="Not Done">Not Done</option>
                </select>
            </div>
            <input type="hidden" id="condition" name="condition">
            <br>
            <div>
            <input style="display:none" type="submit" id="submitbutton" value="submit">
            </div>
        </form>
        <div>
            <button onclick="checkfunction()" id="checkbutton">Check</button>
        </div>
    </div>
    <script>
        function myfunction() {
            var a = document.getElementById("Con").value;
            document.getElementById("condition").value=a;


        }
        myfunction();

        function checkfunction(){
            var TaskName=document.getElementById("TaskName").value;
            var Task=document.getElementById("Task").value;
            var DateInput=document.getElementById("DateInput").value;
            var TimeInput=document.getElementById("TimeInput").value;
            if(TaskName == "" || Task == "" || DateInput == "" || TimeInput == ""){
                alert("please fill fields with suitable value");
            }
            else{
                document.getElementById("checkbutton").style.display="none";
                document.getElementById("submitbutton").style.display="block";
            }
        }
    </script>
</body>
</html>